.nav-searchbar{
    border: 1px solid black;
    width:85%;
    left: -20px;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 600px) {
    .nav-searchbar{
        width:100%;
    }
}